<nav class="app-nav">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">
        <span class="material-icons">dashboard</span>
        Dashboard
    </NavLink>
    <NavLink href="/projects" class="nav-link">
        <span class="material-icons">folder_open</span>
        Projects
    </NavLink>
    <NavLink href="/manage" class="nav-link">
        <span class="material-icons">settings</span>
        Manage Meta
    </NavLink>
</nav>
